/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-size: 40px;
}

h1 {
    font-weight: 700;
}

.container {
    padding: 100px 0;
    width: 1000px;
    margin: 50px auto;
}

.flex {
    display: flex;
}

h1, h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
    line-height: 2em;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

a.button.black {
    background-color: black;
}

a.button.viola {
    background-color: #7983F5;
    color: white;
}

.button.white-bg {
    background-color: white;
    color: black;
}

.logo {
    width: 80px; 
}

a {
    text-decoration: none;
}

.white-font a, .button.white-font, header, footer {
    color: white;
}

.container-banner .button.white-bg::before,
.container.fat .button::before {
    content: "\1F87B";
    font-weight: 700;
}

/* header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.nav-container {
    padding: 10px 0;
}

nav {
    justify-content: space-between;
    margin: 0 auto;
}

nav div:last-child {
    text-align: right;
}

header ul {
    width: 60%;
    justify-content: center;
    gap: 20px;
}

header .flex >div {
    width: 20%;
}

ul.flex li, header .flex > div,
footer .flex > div  {
    padding: 5px;
}

.container-banner {
    padding: 100px 0;
    width: 700px;
    margin: 50px auto;
    text-align: center;
}

header{
    color: white;
}

header .container {
    margin-top: 0;
}

.stelle {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* main */

.big-box {
    width: 70%;
}

.small-box {
    width: 30%;
    padding: 35px 0;
}

main div.bg-main:nth-child(even) {
    background-image: url(../img/wave.svg);
}

.container.fat {
    text-align: center;
}

.container.fat h3 {
    padding-bottom: 20px;
    font-size: 25px;
}

.container.fat .button {
    color: white;
}

/* footer */

footer {
    background-color: #23272A;
}

.pie-pagina {
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 10px;
}

.section-footer {
    padding: 10px 0 40px 0;
}

.col-small {
    flex-grow: 1;
}

.col-big {
    flex-grow: 1.5;
}

hr {
    width: 1000px;
    margin: 0 auto;
}

footer li {
    padding-bottom: 10px;
}

.container.bot {
    margin-bottom: 0;
}

footer li {
    padding-bottom: 15px;
}

.violet-font {
    color: #7983F5;
}

footer div ul li .violet-font {
    color: #7983F5;
}

li i {
    padding-right: 20px;
}

.prima-ul-footer li {
    padding-bottom: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

.prima-ul-footer li:nth-child(2)::after {
    content: '\2304';
    color: white;
    vertical-align: 30%;
    padding-left: 5px;
}

footer li img {
    height: 16px;
    vertical-align: middle;
}

/* Congratulazioni! Nessun errore trovato. */